.highlights {
  height: 900px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-between;
}

.cta {
  height: 64px;
  cursor: pointer;
}

.subtitle {
  margin: 0;
}

.cards {
  display: flex;
  overflow-y: auto;
  gap: 36px;
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .highlights {
    height: 800px;
  }

  .title {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
}
