.cta {
  color: var(--highlight-color-2);
  background-color: var(--primary-color-2);
  padding: 14px 44px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
}
