.formInput {
  height: 48px;
  border: none;
  border-radius: var(--input-radius);
  background-color: var(--highlight-color-1);
  box-shadow: var(--input-shadow);
  padding-left: 24px;
}

.radio {
  width: 100%;
}

.radio label {
  cursor: pointer;
}

.radioInput {
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  border: 2px solid #333333;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.radioInput::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: all 0.1s ease-in-out;
}

.radioInput:hover {
  border-color: #495e57a8;
}

.radioInput:checked {
  border-color: #495e57a8;
}
.radioInput:checked::after {
  background-color: var(--highlight-color-2);
}

.radioInput:focus {
}
