.card {
  flex: 1 1 250px;
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.icon {
  padding: 16px;
  justify-self: center;
  transform: translateY(50%);
  background-color: aliceblue;
  border-radius: 50%;
  background-color: var(--primary-color-1);
}

.icon img {
  width: 38px;
  height: 38px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--highlight-color-2);
  color: var(--highlight-color-1);
  padding: 24px 16px 16px 16px;
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  height: 100%;
}
