.burger {
  display: none;
  margin-left: auto;
  margin-right: 24px;
  cursor: pointer;
}

nav {
  flex: 1;
  padding-left: 80px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

.current {
  text-decoration: revert;
  text-decoration-color: var(--primary-color-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
}

nav li:hover {
  transform: scale(1.08);
}

nav li:hover a {
  text-decoration: revert;
  text-decoration-color: var(--primary-color-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
  }

  nav {
    display: none;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
  }
}
