nav {
  flex: 1;
  padding-left: 80px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

.current {
  text-decoration: revert;
  text-decoration-color: var(--primary-color-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
}

nav li:hover {
  transform: scale(1.08);
}

nav li:hover a {
  text-decoration: revert;
  text-decoration-color: var(--primary-color-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
}

@media screen and (max-width: 900px) {
  nav {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 75vw;
    padding: 0;
    height: 100%;
    z-index: 1;
    background-color: var(--highlight-color-1);
    overflow-y: auto;
  }

  nav ul {
    flex-direction: column;
    margin-top: 25vh;
  }

  nav ul li {
    border-bottom: 2px dotted var(--highlight-color-2);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  nav a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  nav ul li:first-child {
    border-top: 2px dotted var(--highlight-color-2);
  }

  nav ul li:hover {
    transform: none;
  }
}
