.reservation {
  flex: 1 0 auto;
  padding: 16px;
}

.title {
  color: var(--highlight-color-2);
  text-align: center;
}

.row {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formGroup {
  display: flex;
  gap: 6px;
  flex-direction: column;
  flex: 1;
}

.radioGroup {
  display: flex;
}

.radioGroup label {
  flex: 1;
}

.row textarea {
  height: 100px;
  resize: none;
}

.submitBtn {
  width: 100%;
  margin-bottom: 48px;
}

.errorWrapper {
  min-height: 20px;
}

.error {
  font-size: 0.9rem;
  color: #ff3737;
}
